
.vs/BackendTemplate/v17/.suo
.vs/BackendTemplate/FileContentIndex/fb696711-5be0-42dc-b858-3d89b30e67e3.vsidx
.vs/BackendTemplate/FileContentIndex/f5690016-60fb-4460-9712-32d838dfb364.vsidx
.vs/BackendTemplate/FileContentIndex/f07054e5-e027-43b0-afc5-fc5927f4c8dd.vsidx
.vs/BackendTemplate/FileContentIndex/dc7b2501-a200-47b7-b463-f2bcadee30f6.vsidx
.vs/BackendTemplate/FileContentIndex/cd355f7c-94d5-4940-bfb0-a2d5d9724961.vsidx
.vs/BackendTemplate/FileContentIndex/c6e0f211-f61e-4705-b08e-1ccc02619ca9.vsidx
.vs/BackendTemplate/FileContentIndex/b8bbd8d5-eb58-46ad-92e0-c5ebd5c9cbfe.vsidx
.vs/BackendTemplate/FileContentIndex/952bc079-f2a1-443a-a7f3-94a57c6c2a99.vsidx
.vs/BackendTemplate/FileContentIndex/77a3b8df-4ee6-4023-8257-7b5cd483788e.vsidx
.vs/BackendTemplate/FileContentIndex/0df4ae7b-2405-4819-a7ac-668811a91385.vsidx
.vs/BackendTemplate/DesignTimeBuild/.dtbcache.v2
